<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <h3>Angular upload files</h3>

  <form [formGroup]="form" (submit)="upload($event)">
    <div>
      <input (change)="onFileChanges($event)" type="file" name="file" id="file">
    </div>
    <div>
      <button type="submit">Kirim</button>
    </div>
  </form>

  <ul>
    <li *ngFor="let image of images">
      <img src="{{image}}" alt="" width="200px">
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
