<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <h3>Angular upload files</h3>

  <img src="/minio/example-apps/images/a4159524-573c-4320-9303-46bcbf354417.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=admin%2F20220329%2Fsa-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220329T062917Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=544346c65b2ac4c37517e0210e6d25daaafe844a3fbffa7c18014c6fad9c471f" alt="">
</div>

<router-outlet></router-outlet>
